.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: right;
    .dashboard-data{
        table{
            margin: 0 auto;
            width: 800px;
            height: 400px;
        }
        table,td,th{
            border: 1px solid black;
            background-color: #ffffff;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        th{
            font-size: 20px;
        }
    }
}